				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
              {{ with .Site.Params.social.github }}
              <li><a href="https://github.com/{{ . }}" class="icon brands fa-github" target="_blank" rel="noopener noreferrer"><span class="label">GitHub</span></a></li>
              {{ end }}
              {{ with .Site.Params.social.linkedin }}
              <li><a href="https://www.linkedin.com/in/{{ . }}" class="icon brands fa-linkedin" target="_blank" rel="noopener noreferrer"><span class="label">LinkedIn</span></a></li>
              {{ end }}
              {{ with .Site.Params.social.facebook }}
              <li><a href="https://www.facebook.com/profile.php?id={{ . }}" class="icon brands fa-facebook" target="_blank" rel="noopener noreferrer"><span class="label">Facebook</span></a></li>
              {{ end }}
              {{ with .Site.Params.social.twitter }}
              <li><a href="https://twitter.com/{{ . }}" class="icon brands fa-twitter"><span class="label" target="_blank" rel="noopener noreferrer">Twitter</span></a></li>
              {{ end }}
              {{ with .Site.Params.contact.email }}
              <li><a href="mailto:{{ . }}" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
              {{ end }}
              {{ with .Site.Params.contact.phone }}
              <li><a href="tel:{{ . }}" class="icon solid fa-phone"><span class="label">Phone</span></a></li>
              {{ end }}
						</ul>
						<ul class="copyright">
              <li>&copy; {{ now.Year }} {{.Site.Params.copyright | safeHTML }}</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</footer>

			</div>

      {{ partial "scripts.html" . }}

	</body>
</html>
